nltk               # version 3.6.2 
scikit_learn       # version 0.24.2
scipy              # version 1.7.1
click              # version 7.1.2
gensim             # version 4.1.0
spacy              # version 3.1.2
wiki-dump-reader   # version 0.0.4